:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --darker-blue: #5AA9E6;
    --lighter-blue: #7FC8F8;
    --background: #F9F9F9;
    --deep-space: #495D63;
  }
  body {
    background-color: var(--background);
  }

  .header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 2rem;
    color: var(--deep-space);

  }
  .grid-position {
    display: flex;
    align-items: center;
    justify-content: center;


  }
  #container {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .grid-item {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    aspect-ratio: 1;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .inputs-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .color-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    color: #253237;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

  .create-grid {
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0 5px 0;
    background-color: var(--deep-space);
    border-radius: 6px;
    padding: 1rem;
    color: var(--background);
    border: 0;
    font-size: 20px;
  }
  .create-grid:active {
    box-shadow: 0 0 0 black;
    transform: translateY(5px);
}
  .create-grid:hover {
  -webkit-filter: brightness(80%);
  transition: all 0.2s ease;
}
 .label {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  color: var(--deep-space);
  font-size: 20px;
 }

  .switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    align-items: center;
    justify-content: center;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  


  

 